:root {
  --align: center;
  --margin: 0;
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1 {
  text-align: var(--align);
  font-size: 96px;
  margin: 0;
}

h2 {
  text-align: var(--align);
  font-size: 24px;
  margin: 0;
  opacity: 0.7;
}

h3 {
  text-align: var(--align);
  font-size: 48px;
  margin: 5px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: var(--align);
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: var(--align);
}
